<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'push'"
  >
    <mat-toolbar class="toolbar">Menu</mat-toolbar>
    <mat-nav-list class="mat-list-item">
      <a
        mat-list-item
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
      >
        Inicio
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="bar-menu" color="primary">
      <!-- <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon color="accent" aria-label="Side nav toggle icon">
            menu
          </mat-icon>
        </button>
      </mat-toolbar-row> -->

      <mat-toolbar-row>
        <span> Encuentra los Videos mas poderosos de los geeks</span>
        <span class="example-spacer"></span>

        <figure *ngIf="auth.user | async as user" class="header-avatar">
          <img id="avatar" [src]="user.photoURL" alt="Avatar" />
        </figure>
      </mat-toolbar-row>

      <mat-toolbar-row class="session-row">
        <div *ngIf="auth.user | async as user; else showLogin">
          <span [ngStyle]="{ 'margin-right': '15px' }"
            >Hola {{ user.displayName }}!</span
          >
          <button (click)="logout()" mat-raised-button color="accent">
            Salir
          </button>
        </div>
        <ng-template #showLogin>
          <button (click)="login()" mat-raised-button color="accent">
            Inicia con Google
          </button>
        </ng-template>
        <!-- <a [routerLink]="['/auth']" mat-raised-button color="accent">Iniciar Sesion</a> -->
      </mat-toolbar-row>

      <mat-toolbar-row class="buttons-row">
        <a mat-raised-button [routerLink]="['/']" color="primary"
          >Todos los posts</a
        >
        <ng-container *ngIf="auth.user | async as user">
          <a mat-raised-button [routerLink]="['/']" color="primary"
            >Mis posts</a
          >
          <a mat-raised-button [routerLink]="['/']" color="primary"
            >Realizar un post</a
          >
        </ng-container>

        <a mat-raised-button [routerLink]="['/']" color="primary"
          >Contactanos</a
        >
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content style="height: 100%;"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
