<span class="login-buttons">
  <h3>Registrate</h3>
</span>

<div class="login-content">
  <form class="example-form" [formGroup]="loginForm">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          loginForm.get('email').hasError('email') &&
          !loginForm.get('email').hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Enter your password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <span class="login-buttons">
      <button
        mat-raised-button
        (click)="
          authService.SignUp(loginForm.value.email, loginForm.value.password)
        "
        color="accent"
        type="button"
      >
        Confirmar
      </button>
    </span>

    <span class="login-buttons">
      <button
        type="button"
        (click)="loginGoogle()"
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <i class="fab fa-google"></i>
      </button>

      <button
        type="button"
        (click)="loginGoogle()"
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <i class="fab fa-facebook-f"></i>
      </button>

      <button
        type="button"
        (click)="loginGoogle()"
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <i class="fab fa-twitter"></i>
      </button>
    </span>

    <span class="login-buttons">
      <a mat-raised-button color="accent" [routerLink]="['/auth']"
        >Inicia sesion</a
      >
    </span>
  </form>
</div>
